.carousel {

  //width: 100%;
  
  .carouselWrapper {
    display: flex;
    //width: 100%;
    position: relative;

    .leftArrowButton, .rightArrowButton{
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background-color: black;
      opacity: 0.6;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    .leftArrowButton {
      left: 24px;
    }

    .rightArrowButton {
     right: 24px;
    }

    .leftArrow, .rightArrow {
      font-size: 2rem;
      
    }

    .carouselContentWrapper{
      
      overflow: hidden;
      //justify-content: center;
      width: 100%;

      .carouselContent{
        display: flex;
        width: 200%; // Manipulate with JS: 4 items => 4 * 50%; 5 items => 5 * 50%; 6 items => 6 * 50%
        transition: all 250ms linear;
      }
    }
  }
}

@media (max-width: 480px) {
  .carousel .carouselWrapper {
    .leftArrowButton {
      left: -16px;
    }

    .rightArrowButton {
      right: -16px;
    }
    .carouselContentWrapper .carouselContent {
      width: 400%; // Manipulate with JS: 4 items => 4 * 100%; 5 items => 5 * 100%; 6 items => 6 * 100%
    }

  }
}