.certifications {
    
    margin-bottom: 4rem;
    padding: 3rem 3rem;
    border-radius: 5px;
    width: 75%;

    background-color: #111111;
    //margin-top: 7rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        text-align: center;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    .certificationsContainer {

        width: 100%;
        
    }
        
}

@media (max-width: 768px) {
        
    .certifications {
        
        width: 100%;
        margin: 0;
        padding: 2rem;
        
        h2 {
            margin-bottom: 1rem;
        }
    
    }
    
}