.collapsible {
    
    background-color: white;
    border: 1px solid gray;
    //border-collapse:collapse;
    border-radius: 10px;
    padding: 1rem 1rem;
    width: 60%; // This is temporal
    margin: 0 auto;

    .titleContainer {
    
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        
        .title {
            font-size: 1.2rem;   
        }
    }

    .content {

        p {
            font-size: 1rem;
            color: gray;
            text-align: justify;
            line-height: 1.5rem;
        }
    }

    
}