.hero {

    display: flex;
    flex-direction: column;
    background-color: black;
    padding-bottom: 2rem;
    margin: 0 0 4rem;
    width: 100%;
        
    .content {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 3rem;
        //padding-bottom: 5rem;
        margin-bottom: 2rem;
        color: white;
        
        .illustration {

            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                border-radius: 50%;
                width: 60%;
                height: auto;
                //object-fit: cover;
            }

        }

        .presentation {

            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            h1 {
                width: 70%;
                margin: 0 auto;
                font-size: 2.5rem;
            }

            p {
                width: 70%;
                line-height: 2rem;
                font-size: 1.2rem;
            }

            .socialMedia {
                
                margin-top: 2rem;
                width: 70%;
                align-self: center;
                
                ul {
                    display: flex;
                    height: 3rem;
                    align-items: center;
                    border-radius: 10px;
                    background-color: white;
                    justify-content: space-around;
                
                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
        
            }

        }

    }
    
}


@media (max-width: 768px) {

    .hero {

        width: 100%;
        margin: 0;

        .content {
            
            padding-top: 1rem;
            flex-direction: column;

            .illustration {
                width: 100%;
                margin: 3rem 0;
            }

            .presentation {
                width: 100%;

                h1, p {
                    width: 80%;
                }

                .socialMedia {
                    width: 80%;
                }

            }
        }

        
    }
         
}