.projects {
    
    .projectCard {
        border: 1px solid red;
        display: flex;
        width: 60%;
        height: 20rem;
        margin: 4rem auto;
        border-radius: 16px;
        overflow: hidden;
        
        .mediaContainer {
            border: 1px solid blue;
            background-color: yellow;
            width: 60%;
            height: 100%;
        }

        .infoContainer {
            border: 1px solid orange;
            background-color: black;
            width: 40%;
            height: 100%;
            padding: 0.5rem;
            color: white;
            .titleContainer {
                text-transform: uppercase;
                font-weight: bolder;
            }

            .technologiesContainer{
                display: flex;
                flex-wrap: wrap;
                padding: 1rem 0;
                span {
                    background-color: gray;
                    margin: 0.2rem;
                    color: white;
                    border-radius: 5px;
                    padding: 0.2rem 0.3rem;
                }
            } 

            .buttonContainer {
                text-decoration: underline;
                color: white;
                text-align: center;
            }
        }
    }
}