.projects {

    margin-bottom: 4rem;
    padding: 3rem 5rem;
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    
    h2 {
        text-align: center;
        padding-bottom: 3rem;
        text-transform: uppercase;
    }

    .projectsContainer {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        
        .project {

            border-radius: 5px;
            overflow: hidden;        
            display: grid;
            grid-template-rows: 1fr 2.5fr;
            border: 1px solid gray;
            
            .screenshot {
            
                img {
                    width: 100%;
                    height: auto;
                };
            }

            .overview {
            
                display: flex;
                flex-direction: column;
                padding: 0 0.7rem;
                width: 100%;

                h4 {
                    padding: 1rem 0 0.5rem;
                    text-transform: uppercase;  
                }

                .technologies {
                    
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    margin: 1rem 0;
                    
                    span {
                        line-height: 1rem;
                        border-radius: 5px;
                        font-size: 0.7rem;
                        background-color: black;
                        color: white;
                        padding: 0.2rem 0.5rem ;
                    }
                }

                p {
                    line-height: 1.5rem;
                }

                .link {

                    margin: 1rem auto;
                    a {
                        text-decoration: underline;
                        color: blue;
                        white-space: nowrap;
                    }
                }
                
            }

        }
    }

    /* a {
        padding: 1rem;
        margin: 2rem auto 0;
        border: 1px solid red;
        text-align: center;
        width: 10rem;
        border-radius: 8px;
    } */

    

    
}

@media screen and (max-width: 768px) {
    
    .projects { 
        // portfolio
        display: flex;
        width: 100%;
        padding: 3rem;
        margin: 0;
        
        .projectsContainer {
            
            display: flex;
            flex-direction: column;

            .project {
                margin-bottom: 5rem;

                .overview .technologies span {
                    font-size: 1rem;
                }

            }
        }
        
        
    }
}